<%= turbo_stream_from @chat %>

<div id="messages">
  <%= render @chat.messages %>
</div>


<%= form_with(url: ask_chat_path(@chat), method: :post) do |f| %>
  <div class="my-5">
    <%= f.text_area :message, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", autofocus: true %>
  </div>
  
  <div class="grid justify-items-end">
    <%= f.button type: :submit, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" do %>
      <i class="fas fa-paper-plane"></i>
      <span class="pl-2">Send</span>
    <% end %>
  </div>
<% end %>